:root {
  --toggle-size: 45px;
  --translateY: -45px;
}

.toggle {
  margin: 10rem;
}

.toggle-label {
  position: relative;
  cursor: pointer;
}

.toggle-inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: calc(var(--toggle-size) * 2.2);
  height: 35px;
  border: 2px solid rgb(177, 177, 177);
  background: rgb(235, 235, 235);
  border-radius: 30px;
  color: rgb(124, 124, 124);
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.toggle-cb:checked + .toggle-label .toggle-inner {
  background: rgb(225, 1, 60);
  color: rgb(255, 255, 255);
}

.toggle-cb:checked + .toggle-label .toggle-switch {
  transform: translateX(calc(var(--toggle-size) * 1.2))
    translateY(var(--translateY));
}

.toggle-switch {
  width: var(--toggle-size);
  height: var(--toggle-size);
  border: 2px solid darkgray;
  background: rgb(255, 255, 255);
  border-radius: 100%;
  position: absolute;
  top: 40px;
  transform: translateY(var(--translateY));
}

.toggle-inner::before {
  content: 'Yes';
}

.toggle-inner::after {
  content: 'No';
}

.toggle-cb {
  display: none;
}
